a {
  margin: 10px;
  text-decoration: none;
  color:black;
}
input [type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=url], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 16px;
  resize: vertical;
  }

.container-popup {
  background-color:rgba(0,0,0,0.1);
  color:white;
  z-index:2;
  width: 80vw;
  height: 80vh;
}


/* below is for the button to toggle adding eatery / not */
#postingEatery {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  width: 10vw;
  border: 2px black solid;
  border-radius: 10px;
}
#postingEatery:hover {
 background-color: lightgray;
}

#eateries-list {
  background-color: lightgray;
  border-radius: 10px;
  width: 80vw;
  margin-left: 10vw;
}
/*need to check with Jas to keep all this consistent*/
/* above is for the button to toggle adding eatery / not */