.home{
 text-align: center;
}
/*Home Section*/

.intro-image {
width: 100%;
height: 65vh;
object-fit: cover;
margin-left:auto;
margin-right:auto;
}

/*Intro Section*/

.intro-h1 {
  text-align: center;
  opacity: 1;
  font-size: 0.75em;
  color: #b2b3b4;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
}

.intro-about {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-team-intro {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-intro {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  justify-items: center;
  padding: 30px;
  margin: 80px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.single-team-img {
  object-fit: cover;
  width: 230px; 
  height: 230px;
  display: flex;
}

.team-button {
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-transform:lowercase;
  font-weight: bolder;
  align-content: center;
  margin-top: 10px;
margin-left: 50px;
}

.team-button:hover {
background-color: #b2b3b4;
color: black;
cursor: pointer;
}

/*Eatery Form Section*/

.eatery-form {
  
}

.eateryh3 {
  text-align: center;
}

label {
  text-align: center;
}

input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 7px;
box-sizing: border-box;
margin-top: 7px;
margin-bottom: 16px;
resize: vertical;
}

input[type=email], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 7px;
box-sizing: border-box;
margin-top: 7px;
margin-bottom: 16px;
resize: vertical;
}

input[type=url], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 7px;
box-sizing: border-box;
margin-top: 7px;
margin-bottom: 16px;
resize: vertical;
}

input[type="radio"] {
appearance:none;
margin:0 40px;
width: 24px;
height: 24px;
background: #eeeeee;
box-shadow:
inset 0 0 0 .4em white,
0 0 0 .3em;
border-radius: 50%;
transition: .2s;
cursor:pointer;
color: #363945;
}

input[type="radio"]:hover {
background: #363945;
box-shadow:
inset 0 0 0 .6em white,
0 0 0 .3em;
}
        
input[type="radio"]:checked {
background: #b2b3b4;
box-shadow:
inset 0 0 0 .4em white,
0 0 0 .3em #b2b3b4;
} 
      
input[type="radio"]:focus { 
outline: 0; 
} 

.submit-resto {
width: 150px;
height: 70px;
text-align: center;
background-color: transparent;
border: 2px solid black;
border-radius: 10px;
font-size: 20px;
text-transform:lowercase;
font-weight: bolder;
align-content: center;
margin-top: 10px;
margin-left: 50px;
}

.submit-resto:hover {
background-color: #b2b3b4;
color: black;
cursor: pointer;
}
      



  



